<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCBhRG5riP5eDHPaujqj1tid6EWzLrBR2U</string>
	<key>GCM_SENDER_ID</key>
	<string>279412283933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proco</string>
	<key>PROJECT_ID</key>
	<string>proco-6c50c</string>
	<key>STORAGE_BUCKET</key>
	<string>proco-6c50c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279412283933:ios:894f4c62b7555a736204f4</string>
	<key>DATABASE_URL</key>
	<string>https://proco-6c50c-default-rtdb.firebaseio.com</string>
</dict>
</plist>